<div class="container mx-auto my-3 ">

    <div class="row justify-content-between">
        @for(product of productsList; track $index ){


        <div class=" col-6 col-md-3  ">
            <div class="product-card m-2">

                <div class="img-container">
                    <img [src]="product.ProductImg" class=" rounded  w-100 h-100" [alt]="product.ProductName">

                </div>

                <div class="product-body py-2 px-3">
                    <h5 class="product-title">#{{product.ProductId}} / {{ product.ProductName }}</h5>
                    <p class="product-price">Price: {{ product.ProductPrice }} L.E</p>
                    @if(product.AvailablePieces<10 && product.AvailablePieces != 0){

                        <p class="product-availability danger-color"> {{ product.AvailablePieces }} Pcs <span>( low stock )</span></p>
                    }
                    @else if(product.AvailablePieces == 0){

                        <p class="product-availability danger-color">No stock</p>
                    }
                    @else {
                        <p class="product-availability">Stock: {{ product.AvailablePieces }} Pcs</p>

                    }
                    <a href="#" class="btn primary-btn">Add to Cart</a>
                </div>
            </div>
        </div>



        }
    </div>
</div>