<div class="container mx-auto my-3 ">
    <h5 class="header primary-color my-6">Picked List</h5>
    <div class="list-container">
        <div  class="row ">
            @for(item of cartItems; track $index ){

            <div class="col-2 col-md-3 ">
                <div class="flex ">
                    <div class="img-cont">
                        <img class="w-100 h-100" [src]="item.product.ProductImg" [alt]="item.product.ProductName">
                    </div>
                    <div class="product-details px-3">
                        <p class="title">
                            {{item.product.ProductName}}
                        </p>
                        <p class="price">
                            {{item.product.ProductPrice | currency:'LE'}}
                        </p>
                   
                    </div>

                </div>
            </div>

            }


        </div>
    </div>

    <!-- checkout.component.html -->
<div class="container">
    <form [formGroup]="checkoutForm" (ngSubmit)="addOrder()">
      <div>
        <label for="customerName">Name:</label>
        <input type="text" id="customerName" formControlName="customerName">
      </div>
      <div>
        <label for="email">Email:</label>
        <input type="email" id="email" formControlName="email">
      </div>
      <div>
        <label for="phone">Phone:</label>
        <input type="text" id="phone" formControlName="phone">
      </div>
      <div>
        <label for="address">Address:</label>
        <input type="text" id="address" formControlName="address">
      </div>
      <div>
        <label for="paymentMethod">Payment Method:</label>
        <input type="text" id="paymentMethod" formControlName="paymentMethod">
      </div>
      <!-- <div>
        <label for="paymentMethod">Payment Method:</label>
        <select id="paymentMethod" formControlName="paymentMethod">
          <option value="Cash">Cash</option>
          <option value="Online">Online</option>
        
        </select>
      </div> -->
      <button type="submit" [disabled]="!checkoutForm.valid">Place Order</button>
    </form>
  </div>
  
    <div class="text-center">

        <button class="primary-btn my-3">Add order</button>
    </div>
</div>